<div class="container">

    <button id="add_product" class="btn btn-info btn-sm" ng-click="create()" data-toggle="modal"
            data-target="#myDialog">新增菜品
    </button>
    <button id="export_product" class="btn btn-success btn-sm" ng-click="export()">导出Excel</button>
    <select class="product-picker form-control" ng-model="categorySelected" ng-change="changedValue(categorySelected)">

    </select>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th ng-click="f='name'; rev=!rev">名字 <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
            <th ng-click="f='description'; rev=!rev">描述 <span class="glyphicon glyphicon-sort"
                                                              aria-hidden="true"></span></th>
            <th ng-click="f='type'; rev=!rev">大类 <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
            <th ng-click="f='category'; rev=!rev">小类 <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
            </th>
            <th ng-click="f='procprice'; rev=!rev">采购价（元） <span class="glyphicon glyphicon-sort"
                                                                aria-hidden="true"></span>
            </th>
            <th ng-click="f='procindex'; rev=!rev">系数 <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
            </th>
            <th ng-click="f='price'; rev=!rev">出售价格（元） <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
            </th>
            <th ng-click="f='unit'; rev=!rev">单位 <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in products | orderBy: f : rev">
            <td ng-bind="product.name"></td>
            <td ng-bind="product.description"></td>
            <td ng-bind="(product.type | translate:'t' )"></td>
            <td ng-bind="(product.category | translate :'c' )"></td>
            <!--<td ng-bind="product.procprice"></td>-->
            <!--<td ng-bind="product.procindex"></td>-->
            <td><input class="form-control" value="{{product.procprice}}" ng-model='product.procprice'
                       ng-change="updateProduct()"></td>
            <td><input class="form-control" value="{{product.procindex}}" ng-model='product.procindex'
                       ng-change="updateProduct()"></td>
            <td ng-bind="product.price"></td>
            <td ng-bind="product.unit"></td>
            <td>
                <button ng-click="modify(product.id)" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target="#myDialog">修改
                </button>

            </td>
        </tr>
        </tbody>
    </table>

</div>
<div id="myDialog" class="modal fade" method="update" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>

                <h3 class="title">修改菜品</h3>
            </div>
            <div class="modal-body">
                <input type="hidden" id="pid">

                <div class="input-group input-group">
                    <span class="input-group-addon">名字:</span>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="input-group input-group">
                    <span class="input-group-addon">描述:</span>
                    <input type="text" class="form-control" id="description">
                </div>
                <div class="input-group input-group">
                    <span class="input-group-addon">大类:</span>
                    <select id="type" ng-model="selectedType" ng-options="t.name for t in typeMap track by t.value"
                            class="form-control">
                        <option value="">--- 请选择 ---</option>
                    </select>
                </div>
                <div class="input-group input-group">
                    <span class="input-group-addon">小类:</span>
                    <select id="category" ng-model="selectedCategory"
                            ng-options="c.key for c in selectedType.list track by c.value"
                            class="form-control">
                        <option value="">--- 请选择 ---</option>
                    </select>
                </div>
                <div class="input-group input-group">
                    <span class="input-group-addon">价格:</span>
                    <input type="text" class="form-control" id="price">
                </div>
                <div class="input-group input-group">
                    <span class="input-group-addon">单位:</span>
                    <input type="text" class="form-control" id="unit">
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-success" ng-click="save()">保存</a>
                <a href="#" class="btn" data-dismiss="modal">关闭</a>
            </div>
        </div>
    </div>
</div>
