th:hover {
    cursor: pointer;
}

select.product-picker {
    display: block;
    margin: 20px 0px 10px 0px;

}

#add_product, #export_product, #export_order, #export_dispatch {
    margin-top: 20px;
}

#export_product, #export_order, #export_dispatch {
    float: right;
}