.checkout {
    height: 60px;
    width: 100%;
    display: table;
}

.checkout div {
    display: table-cell;
    vertical-align: middle;
}

.checkout_info div {
    font-size: x-large;
}

.checkout_info span {
    color: #dc5311;
}

.basic_info {
    margin: 30px 0 30px 0;
}

.inc_dec {
    margin: 30px 0 30px 0;
    float: left;
}
