.checkout {
    height: 60px;
    width: 100%;
    display: table;
}

.checkout div {
    display: table-cell;
    vertical-align: middle;
}

.checkout_info div {
    font-size: 120%;
}

.checkout_info span {
    color: #dc5311;
}

.basic_info {
    margin: 20px 0 20px 0;
}

.inc_dec {
    margin: 20px 0 20px 0;
    float: left;
}


div.checkout_info div {
    font-size: 120%;
    display: inline-block;

}

.height-normalize {
    height: 300px;
}

.height-normalize-checkout {
    height: 200px;
}
