<div class="row row-sm" ng-repeat="item in bill.items">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <div class="item">
            <div class="pos-rlt">
                <div class="bottom">
                    <span class="badge bg-info m-l-sm m-b-sm"><span ng-bind="item.productPrice"></span>元/<span
                            ng-bind="item.productUnit"></span></span>

                </div>

                <a href="#"><img ng-src="images/{{item.picurl}}" alt=""
                                 class="r r-2x img-full"></a>
            </div>
            <div class="padder-v">
                <a href="#" class="text-ellipsis text-xs text-muted" ng-bind="item.productName"></a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <div class="checkout_info">
            <div class="basic_info" ng-bind="item.productName"></div>
            <div class="amount">购买：<span ng-bind="item.amount">10</span> <span ng-bind="item.productUnit"></span></div>
            <div class="price">价格：<span ng-bind="item.amount*item.productPrice"></span> 元</div>
        </div>
    </div>
    <div ng-if="$index%2==0">
        <div class="clearfix visible-xs"></div>
    </div>
</div>